.task-item {
  list-style-type: none;
  margin-bottom: 2vh;
  border-radius: 1vw;
  margin-left: 0.9vw;
  margin-right: 1vw;
  width: 90%;
  max-width: 600px;
  position: relative; 
  margin-top: 1vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color:white;
}

.task-item-name,
.task-item-priority,
.task-item-status {
  margin-left: 1vw;
}

.task-item-delete-btn {
  position: absolute;
  top: 1vh;
  right: 1vh;
  background-color: transparent;
  color: red;
  font-size: 1.5vh;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0;
}

.task-item-delete-btn:hover {
  color: darkred;
}

@media (max-width: 768px) {
  .task-item {
    padding: 1.5vh;
    margin-bottom: 3vh;
    border-radius: 2vw;
  }

  .task-item-delete-btn {
    font-size: 4vw;
  }
}
