.to-doing-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 4vh;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 2vw;
  background-color: #fff4dc;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90vw;
}

.login-container {
  width: 30%;
  max-width: 45vw;
  padding: 3vh 2vw;
  margin-left: 5vw;
  background-color: #f9f9f9;
  border-radius: 1vw;
  box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.1);
}

.image-container {
  max-width: 42%;
  margin-left: 2vw;
  margin-right: 2vw;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.form-group {
  margin-bottom: 3vh;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 1vh;
}

.form-group input {
  padding: 1vh 1vw;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  margin-bottom: 1vh;
}

.btn-login {
  padding: 1.5vh 0;
  font-size: 1.2rem;
  background-color:#92a519;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  width: 109%;
}

.btn-login:hover {
  background-color: #45a049;
}

.signup-link {
  text-align: center;
  margin-top: 2vh;
}

.signup-link p {
  font-size: 1rem;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .image-container {
    margin-left: 0;
    margin-top: 4vh;
    max-width: 100%;
  }
}
