.home-container {
  width: 97.3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #fff4dc;
  height: 94vh ;
}

.task-board {
  display: flex;
  margin-left: 2vw;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-right: 4vw;
  background-color:  #fff4dc;
}
